@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.profile-image {
    width: 200px;
    height: auto;
}

a, a:visited {
    color: #d9d9d9; /* Light gray for visibility on dark backgrounds */
    text-decoration: none; /* Optional: removes underline from links */
}

a:hover {
    color: #ffffff; /* White on hover for higher contrast */
}

a:active {
    color: #b3b3b3; /* Slightly darker gray when the link is clicked */
}

body {
    font-family: 'Playfair Display', serif;
    background-color: #2b2b2b; /* Dark gray background */
    color: #f0f0f0; /* Lighter text color for contrast */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.artist-intro {
    width: 80%;
    max-width: 800px; /* Adjust as per your preference */
    margin: 20px;
    text-align: center;
    background-color: #404040; /* Slightly lighter gray for the content box */
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Stronger shadow for a more pronounced effect */
    border-radius: 10px;
}

.artist-intro h1 {
    font-size: 2em; /* Larger font size for the title */
    margin-bottom: 0.5em;
    color: #ffffff; /* White color for the title for better visibility */
}

.artist-intro p {
    font-size: 1.2em; /* Readable paragraph size */
    line-height: 1.6; /* Slightly larger line height for better readability */
    margin-bottom: 1em; /* Space between paragraphs */
    color: #d9d9d9; /* Slightly dimmer than white for the body text */
}
